.social-element
{
	display: inline;
}

#content-projects article
{
	width: 30em;
	display: inline-block;
	vertical-align: top;
	min-height: 7em;
}

#content-main article
{
}

#content-main
{
}

#content-main p
{
	width: 85%;
	display: inline-block;
	vertical-align: top;
}
