.social-element
{
	display: inline;
}

#content-projects article
{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	min-height: 7em;
	min-width: 12em;
}

#content-main p
{
	/*width: 85%;*/
	display: block;
	/*display: inline-block;*/
	vertical-align: top;
}

nav li a
{
	padding-left: 10em;
	padding-right: 10em;
}

#form-name, #form-email
{
	min-width: 20em;
}

#form-message
{
	width: 70em;
}
