/* -------------------------------------------------------- Whole Page -------------------------------------------------------- */
body
{
	background-color:  #3366CC; /*#FFFFF8;*/ /*#5E5E5E;*/
}

body, div
{
	font-family: 'lucida grande', helvetica, verdana, arial, sans-serif;
}

table
{
	width: 100%;
}

a
{
	color: #000000;
}

ul
{
	/*background-color: #FFFFFF;*/
	background-color: transparent;
}

h1
{
	font-size: xx-large;
	font-weight: bold;
	padding: 1em;
}

h2
{
	font-size: x-large;
	font-weight: bold;
	padding: 1em;
}

p
{
	padding: 1em;
}

/* -------------------------------------------------------- Header -------------------------------------------------------- */
#header, #footer
{
	background-color: transparent; /*#3366CC;*/ /*#5E5E5E;*/
	padding-left: 1em;
	padding-right: 1em;
	color: #000000;
}

#header
{
	text-align: center;
}

.content-background
{
	background-color:  #3366CC;
}

/* -------------------------------------------------------- Header - Navigation Tabs -------------------------------------------------------- */
#link-main, #link-projects
{
}
#link-contact
{
}

/* -------------------------------------------------------- Main Content Section -------------------------------------------------------- */
#main
{
	background-color: #FFFFF8;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	width: 100%;
}

#content-main, #content-projects, #content-contact
{
	background-color: #FFFFF8;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	width: 100%;
	padding-left: 2em;
	padding-right: 2em;

	min-height: 35em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content-main, #content-contact
{
	padding-bottom: 2em;
}

#content-main, #content-projects
{
	text-align: left;
}

/* -------------------------------------------------------- Main Content - Main Section -------------------------------------------------------- */

/* -------------------------------------------------------- Main Content - Projects Section -------------------------------------------------------- */

/* -------------------------------------------------------- Main Content - Contact Section -------------------------------------------------------- */
form
{
	display: inline-block;
	text-align: left;
	padding: 1em;
}

/* -------------------------------------------------------- Footer -------------------------------------------------------- */
#footer
{
	padding-bottom: 2em;
	text-align: center;
}

#footer-left
{
	text-align: left;
	padding-left: 1em;
}

#footer-right
{
	text-align: right;
}

.social-element
{
	padding-right: 1em; 
}
