body
{
	font-family: 'lucida grande', helvetica, verdana, arial, sans-serif;
	margin: 0em;
	margin-bottom: 5em;
}

nav ul
{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	overflow: hidden;
	background-color:  #336699;
}

nav li
{
	float: left;
}

nav li a
{
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

nav li a:hover
{
	background-color: #24478F;
}

.active
{
    background-color: #4CAF50;
}

footer
{
	padding-top: 1em;
	padding-bottom: 1em;
    position: fixed;
    bottom: 0em;
	background-color:  #336699;
    width: 100%;
}

footer div
{
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
}

footer span
{
	display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.right-align
{
	float: right;
}

#pageTitle
{
	font-size: xx-large;
	font-weight: bold;
	margin: 0em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 2em;
	padding-right: 2em;
	text-shadow: 2px 2px #000000;
}

a
{
	color: #000000;
}

article
{
	padding: 1em;
}

form
{
	padding: 1em;
}

form label
{
	display: inline-block;
	float: left;
	clear: left;
	width: 5em;
	text-align: right;
}

form input[type=text], form textarea
{
	display: inline-block;
	float: left;
	margin-bottom: 1em;
}

form input[type=submit], form input[type=reset]
{
	margin: 2em;
	padding: 1em;
}

.content-project article
{
	margin: 0.5em;
	background-color: #D6E0F5;
	border-radius: 1em;
	box-shadow: 0.25em 0.25em 0.125em #888888;
	width: 10em;
	display: inline-block;
}

.content-project a
{
	font-weight: bold;
}

.content-project
{
	text-align: center;
}

.content-project p
{
	text-align: left;
	margin-top: 0em;
	padding-top: 0em;
}

h2
{
	text-align: center;
}
