body { background-color: #5E5E5E; margin: 0; padding: 0; color: #333; }
body, div { font-family: 'lucida grande', helvetica, verdana, arial, sans-serif }
div { padding: 10px; }

#header, #footer { background: #5E5E5E; margin: auto; padding: 10px; color:#000000; }
#header { text-align: center; /*border-bottom: 1px solid #000000;*/ }
#footer { margin-bottom: 0px; text-align: center; }
#footer-right { text-align: right; }
#main { background-color: #FFFFF8;  border-top: 1px solid #000000; border-bottom: 1px solid #000000;}

#content-main, #content-projects, #content-forum, #content-contact { margin: auto; width: 80%; }
#content-main, #content-forum { height: 30em; margin-bottom: 2em; }
#content-main, #content-projects { text-align: left; }

form { display: inline-block; text-align: left;}

#table-social
{
/*
	position: absolute;
	right: 0;
	top: 0;
*/
	vertical-align: top;
	width: 64px;
}

#table-main
{
	text-align: center;
}

table
{
	width: 100%;
}
/*
td
{
	text-align: center;
}
*/
#forum
{
	border: 1px solid #000000;
	width: 90%;
	height: 25em;
	display: block; /*Help the margin command center the iframe*/
	margin: 0 auto; /* Center the iframe*/
}

/*#facebook { padding: 0px; display: inline-block; vertical-align: top; }*/

/*
.ui-tabs .ui-tabs-nav li { width: 20%; text-align: center; )

.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    float: none;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    margin: 0em;
}
*/

#tabs
{ 
    background: transparent; 
    border: none; 
}
 
#tabs .ui-widget-header
{ 
    background: transparent; 
    border: none; 
    /*border-bottom: 1px solid #000000; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; */
} 
 
#tabs .ui-tabs-active
{ 
    border: none; 
} 

#tabs .ui-tabs-nav .ui-state-default
{ 
    background: transparent; 
    border: none; 
} 

#tabs .ui-tabs-nav .ui-state-active
{ 
    background: transparent; 
    border: none; 
} 

#tabs .ui-tabs-nav .ui-state-default a
{ 
    color: #c0c0c0; 
} 

#tabs .ui-tabs-nav .ui-state-active a
{ 
    color: #000000; 
}

.ui-tabs .ui-tabs-nav
{/*Center the tabs*/
    text-align: center;
}

.ui-tabs .ui-tabs-nav li
{/*Set the width of the tabs and help center the tabs.*/
    /*float: none !important;*/
    float: none;
    display: inline-block;
    width: 20%; 
}

.ui-tabs .ui-tabs-nav a
{/*Center the text in the tabs.*/
    display: inline-block;
    float: none;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    outline-color: transparent;
}

ul
{/*Style the tab menu.*/
    background-color: #FFFFFF;
}
